.hdr {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: blueviolet;
  margin: 5px;
}

.loginBtn {
  padding: 6px 12px;
  background-color: brown;
  color: white;
  outline: none;
  border: none;
}

.logo{
  text-decoration: underline;
}