* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: #111;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
}

button {
  margin: 10px;
  padding: 30px 60px;
  background-color: #333;
  border: none;
  outline: none;
  color: rgb(175, 175, 175);
  font-size: 20px;
  font-weight: 700;
  border-radius: 10px;
}

h1 {
  color: rgb(174, 174, 174);
  margin-left: 30px;
  font-size: 50px;
}
