* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 html, body{
 width: 100%;
 height: 100%;
 background-color: black;
}
div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button{
  margin: 20px;
  padding: 20px 70px;
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: rgb(47, 47, 47);
  color: rgb(171, 171, 171);
  font-weight: 600;
  font-size: 20px;
}

h1{
  margin: 10px;
  margin-top: 60px;  
  padding: 40px 130px;
  border-radius: 10px;
  background-color: rgb(47, 47, 47);
  color: rgb(117, 117, 117);
  width: fit-content;
  font-size: 70px;
}