* {
  margin: 0;
  padding: 0;
  color: rgb(222, 222, 222);
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 27);
}
h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  border: 3px solid white;
  padding: 50px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: rgb(104, 17, 17);
}
.nav-left {
  display: flex;
  align-items: center;
  gap: 16px;
  font-size: 17px;
  letter-spacing: 1.5px;
}
.nav-left a {
  text-decoration: none;
}
.nav-left a:hover{
    color: rgb(255, 204, 173);
}
