* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: #fff;
}

 html, body{
 width: 100%;
 height: 100%;
 background-color: black;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.card{
  width: 300px;
  background-color: #222;
  border: 1px solid white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  margin: 10px;
}
img{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
}
p{
  margin: 10px 0;
}
button{
  color: black;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: 600;
}