* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 html, body{
 width: 100%;
 height: 100%;
 background-color: black;
 color: rgb(224, 224, 224);
}
.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 23px 25px;
    background-color: rgb(74, 26, 120);
}

.nav2{
    display: flex;
    gap: 28px;
}