* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background-color: black;
  color: white;
}

html body::-webkit-scrollbar {
    display: none;
}


h1 {
  margin-top: 80px;
  font-size: 6rem;
  text-align: center;
}

/* ... rest of your CSS ... */

h1 {
  margin-top: 80px;
  font-size: 6rem;
  text-align: center;
}

h2 {
  margin-top: 10rem;
  font-size: 2.5rem;
  text-align: center;
}

.class-image img {
  border: none;
  outline: none;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  margin-top: 18rem;
  opacity: 0;
  transform: scale(0.97);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

img.loaded {
  opacity: 1;
  transform: scale(1);  
}

.space {
  height: 100vh;
}
