@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}
body {
  background-color: black;
  color: white;
}

.left {
  width: 25vw;
  padding: 10px;
}

.right {
  width: 75vw;
  position: relative;
}
.home ul li {
  list-style: none;
  width: 14px;
  display: flex;
  gap: 12px;
  padding-top: 14px;
  font-weight: bold;
}

.heading {
  justify-content: space-between;
}

.heading h2 {
  font-size: 17px;
}
.heading-icon {
  margin-top: 6px;
}
.library {
  position: relative;
  min-height: 78vh;
  /* overflow-y: auto ; */
}
.songList ul {
  padding: 10px 0;
  max-height: 60vh;
  overflow-y: scroll;
}

.songList ul li {
  list-style-type: decimal;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 310px;
  cursor: pointer;
  font-size: 13px;
  border: 1px solid rgb(140, 140, 140);
  margin: 11px 0;
  padding: 10px;
  border-radius: 5px;
  font-size: 12px;
}

.playnow {
  display: flex;
  justify-content: center;
  align-items: center;
}
.playnow span {
  display: flex;
  padding-right: 10px;
}
.playbtnlist {
  margin-left: 10px;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  font-size: 11px;
  color: grey;
  text-decoration: none;
  gap: 13px;
  margin: 5px;
  padding: 20px 0px;
}

.footer a {
  text-decoration: none;
  color: grey;
}

.right {
  margin: 16px 0;
}
.header {
  display: flex;
  justify-content: space-between;
  background-color: #2c2c2c;
}

.header > * {
  padding: 15px;
}
.spotify-named-heading {
  padding: 3px;
}
.card-container {
  overflow-y: auto;
  max-height: 70vh;
  display: flex;
  gap: 20px;
  margin: 10px;
  padding: 20px;
  flex-wrap: wrap;
}
.card {
  position: relative;
  padding: 10px;
  width: 240px;
  background-color: #2c2c2c;
  border-radius: 5px;
}
.card img {
  width: 100%;
  object-fit: contain;
}
.crad > * {
  padding-top: 10px;
}
.card p,
h2 {
  color: rgb(237, 237, 237);
}

.spotify-play-btn {
  width: 47px;
  height: 47px;
  background: #1db954; /* Spotify Green */
  color: black;
  border-radius: 50%; /* circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.2s ease;
  position: absolute;
  top: 250px;
  right: 36px;
  opacity: 1;
  transition: 1s all ease-in-out;
}

.spotify-play-btn i {
  font-size: 24px;
}

.signup {
  background: transparent;
  border: none;
  outline: none;
  color: rgb(217, 217, 217);
  margin-right: 7px;
  font-weight: bold;
}

.login {
  width: 100px;
  height: 50px;
  border-radius: 36px;
  font-size: 15px;
  padding: 5px;
  font-weight: bold;
}

.playbar {
  height: 58px;
  position: fixed;
  bottom: 25px;
  background-color: rgb(119, 228, 119);
  width: 72vw;
  /* left: 10px;   */
  padding: 13px;
  border-radius: 30px;
}
.seekbar {
  text-align: center;
  position: absolute;
  height: 5px;
  border: 2px solid black;
  border-radius: 70px;
  width: 97%;
  /* padding: 2px; */
  bottom: 8px;
}
.circle {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: red;
  position: absolute;
  bottom: -6.5px;
  left: 0%;
}
.songbuttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}
