body{
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(140, 80, 196);
    font-family: cursive;
}

.form{
    background-color: rgb(219, 186, 250);
    padding: 22px;
    margin: 12px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
    border-radius: 10px;
}

.input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    text-align: center;
    border: solid 2px black;
    padding: 10px;
    text-transform: capitalize;
    border-radius: 5px;
}
.btn{
   display: block;
   font-size: 20px;
   width: 100%;
   margin-top: 9px;
   background-color: brown;
   color: rgb(255, 227, 191);
   font-weight: 700;
   padding: 7px;
   letter-spacing: 1.5px;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0,0,0,.4);
}

.btn:hover{
    filter: brightness(0.9);
}

.score{
    text-align: center;
    font-size: 20px;
    letter-spacing: 1.2px;
}