* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 /* color: white; */
}

 html, body{
 width: 100%;
 height: 100%;
}
.parent{
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;
  width: 100%;
  background-color: #ded9d9; 
  padding: 20px;
}

.card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
  width: 325px;
  border-radius: 20px;
  background-color: #fff;
  padding:20px;
  margin: 10px;
}
.top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  object-fit: cover;
}
button{
  display: flex;
  border: none;
  outline: none;
  background-color: #fff;
  gap: 10px;
  align-items: center;
}
.center{
  margin-top: 50px;
}
.para{
  display: flex;
  gap: 7px;
  align-items: center;
}
#comapany-name{
  font-size: 16px;
  font-weight: 600;
}
#days{
  color: grey;
  font-size: 13px;
}

h2{
  margin-top: 10px;
}

.span-tag{
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: 600;
}
.spannn{
  background-color: rgb(225, 225, 225);
  border-radius: 5px;
  padding: 6px;
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 80px;
}
.price{
  font-size: 15px;
}
.city{
  color: grey;
  font-size: 10px;
}
.submit-btn{
  background-color: black;
  color: white;
  padding: 13px;
  border-radius: 6px;
  font-weight: 600;
}