* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --bg-color: #000000;
  --bg-button-color: rgb(22, 22, 22);
  --primary-text-color: #f4f4f4;
  --bg-task-color: rgb(46, 46, 46);
  --bg-delete-color: rgb(180, 91, 3);
  --bg-addTaskBtn-color: rgb(113, 34, 28);
  --bg-nav-btn-color:rgb(122, 90, 42);

  --nav-padding: 15px 30px;
  --section-padding: 15px 30px;

  --padding-s: 5px;
  --padding-m: 10px;
  --padding-l: 15px;
  --padding-xl: 20px;
  --padding-2xl: 30px;

  --border-radius-s: 5px;
  --border-radius-m: 10px;
  --border-radius-l: 15px;
  --border-radius-xl: 20px;
  --border-radius-2xl: 25px;
}

body {
  background-color: var(--bg-color);
  color: var(--primary-text-color);
}
main {
  height: 100%;
  display: flex;
  flex-direction: column;
}
nav {
  padding: var(--nav-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: var(--bg-color);
}

nav button {
  background-color: var(--bg-nav-btn-color);
  color: var(--primary-text-color);
  border: none;
  outline: none;
  padding: var(--padding-m) var(--padding-l);
  border-radius: var(--border-radius-m);
  cursor: pointer;
}

section {
  padding: var(--section-padding);
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: var(--padding-xl);
}

section .task-column {
  border-radius: var(--border-radius-m);
  flex-grow: 1;
  padding: var(--padding-m);
  background-color: var(--bg-button-color);
  display: flex;
  flex-direction: column;
  gap: var(--padding-m);
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
}

section .task-column.hover-over {
  border: 2px dashed var(--primary-text-color);
  scale: 1.04;
}
.task-column .heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-column .task {
  background-color: var(--bg-task-color);
  border-radius: var(--border-radius-m);
  padding: var(--padding-m);
  display: flex;
  flex-direction: column;
  gap: var(--padding-s);
  cursor: grab;
}

.task-column .task button {
  align-self: flex-end;
  padding: var(--padding-s) var(--padding-m);
  background-color: var(--bg-delete-color);
  color: var(--primary-text-color);
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-s);
  font-weight: bold;
}
.modal {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.modal.active{
  display: flex;
}
.modal .bg {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(57, 57, 57, 0.296);
  backdrop-filter: blur(5px);
}
.modal .center {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-button-color);
  gap: var(--padding-m);
  border-radius: var(--border-radius-l);
  padding: var(--padding-2xl);
  z-index: 10;
}

.modal .center input,
.modal .center textarea,
.modal .center select {
  background-color: var(--bg-task-color);
  border: none;
  outline: none;
  padding: var(--padding-m);
  border-radius: var(--border-radius-s);
  color: var(--primary-text-color);
}

.modal .center button {
  background-color: var(--bg-addTaskBtn-color);
  border: none;
  outline: none;
  padding: var(--padding-m) var(--padding-l);
  cursor: pointer;
  border-radius: var(--border-radius-m);
  color: var(--primary-text-color);
}
