* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 color: rgb(218, 218, 218);
}

 html, body{
 width: 100%;
 height: 100%;
 background-color: rgb(29, 29, 29);
}

button{
    color: rgb(255, 212, 155);
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 5px;
    margin: 10px;
    background-color: #762424;
    outline: none;
    border: none;
}
button:active {
    transform: scale(.95);
}