body{
    margin:0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-color: rgb(255, 242, 230)
}

.btn{
    background-color:rgb(238, 184, 193);
    padding: 40px 52px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.6);
    text-decoration: none;
    color: black;
    font-size: 30px;
    position: relative;
    overflow: hidden;
}
.btn span{
    position: relative;
    z-index: 1;
}
.btn::before{
    content: "";
    position: absolute;
    background-color: orangered;
    height: 0;
    width: 0;
    border-radius: 50%;
    transform: translate(-50%,-50%);
    left: var(--xPos);
    top: var(--yPos);
    transition: width 0.5s, height 0.5s;
}

.btn:hover::before{
    width: 300px;
    height: 300px;
}