* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 html, body{
 width: 100%;
 height: 100%;
 background-color: #111;
 color: white;
}

button {
    margin: 10px;
}

input{
    margin: 10px;
    padding: 10px 20px ;
}
.Box{
   height: 200px;
   width: 200px;
   background-color: red;
  margin: 30px;
}


.Page-1{
    height: 100vh;
    width: 100%;
    background-color: #111;
    border: 2px solid white;
    margin-top: 5px;
}
.Page-2{
    height: 100vh;
    width: 100%;
    background-color: #222;
    border: 2px solid white;
    margin-top: 5px;
}
.Page-3{
    height: 100vh;
    width: 100%;
    background-color: #333;
    border: 2px solid white;
    margin-top: 5px;
}

