* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

 html, body{
 width: 100%;
 height: 100%;
}
input,button{
    padding: 30px 50px;
    margin: 40px;
    border-radius: 4px;
    border: none;
    outline: none;
    font-size: 50px;
}