* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(64, 64, 83);
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(46, 46, 46);
  gap: 1rem;
  border-radius: 5px;
  width: 50%;
  max-width: 600px;
}

h1 {
    font-size: 2rem;
}

.user-container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 10px;
}
.user-input-conatiner{
    display: flex;
    justify-content: space-between;
}

#user-input {
    width: 80%;
    padding: .5rem;
    border-radius: 8px;
}
#search-btn{
    padding: .6rem;
    border-radius: 8px;
}

.circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    border: 4px solid green;
    position: relative;
    columns: white;
    background: conic-gradient(#299f5d var(--progress-degree, 0%),#283a2e 0%);
}

.circle span{
    position: relative;
    z-index: 2;
}

.progress {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
    flex-wrap: wrap;
}